# Import Libraries and Code for Plotting

In [4]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import cupy as cp

In [1]:
VariantNames = ['Base','FixedRandomSample','ProportionalRandomSample','Agglomerative','RandomParameters']
ValidFunctions = list(range(1,10))+list(range(20,28))

In [2]:
def Table_MediansIterations(Experiment,DimensionNumber,VariantNames,Tolerance):
    # Firt median of optimal values, then search iteration
    data_medians_iterations = dict()

    for number_function in ValidFunctions:
        iterations_variants = list(IterationsVariants_MediansIterations(Experiment,DimensionNumber,VariantNames,number_function,Tolerance))
        data_medians_iterations[f"F{number_function}"] = iterations_variants

    return data_medians_iterations

def IterationsVariants_MediansIterations(Experiment,DimensionNumber,VariantNames,NumberFunction,Tolerance):
    optimal_value = cp.array(-(NumberFunction*cp.float64(100)+Tolerance),dtype=float)

    for variant_name in VariantNames:
        data_optimal_values = cp.loadtxt(f"{Experiment[0]}_{Experiment[1]}_Dim_{DimensionNumber}/{variant_name}/OptimalValues_F{NumberFunction}.csv",dtype=float,delimiter=',')
        medians_optimal = -cp.median(data_optimal_values,axis=0)

        yield medians_optimal.searchsorted(optimal_value).get()

In [3]:
def Table_IterationsMedians(Experiment,DimensionNumber,VariantNames,Tolerance):
    # First search iteration to reach optimal, then median of iterations
    data_iterations_meadians = dict()

    for number_function in ValidFunctions:
        iterations_variants = list(IterationsVariants_IterationsMedians(Experiment,DimensionNumber,VariantNames,number_function,Tolerance))
        data_iterations_meadians[f"F{number_function}"] = iterations_variants

    return data_iterations_meadians

def IterationsVariants_IterationsMedians(Experiment,DimensionNumber,VariantNames,NumberFunction,Tolerance):
    tolerance = -cp.array(Tolerance,dtype=float)
    
    for variant_name in VariantNames:
        data_optimal_values = cp.loadtxt(f"{Experiment[0]}_{Experiment[1]}_Dim_{DimensionNumber}/{variant_name}/OptimalValues_F{NumberFunction}.csv",dtype=float,delimiter=',')
        data_optimal_values -= NumberFunction*cp.float64(100)
        iterations_optimal = cp.apply_along_axis(lambda arr : cp.searchsorted(-arr,tolerance),axis=1,arr=data_optimal_values)

        yield cp.median(iterations_optimal).get()

# Results

In [5]:
globals_results = globals()

## Using Optimal Values First

In [6]:
type_result = 'Medians'
dimension_number = '2'
tolerance = 0.1

In [7]:
experiment = ['02','100']
variant_names = VariantNames

globals_results[f'{type_result}Results_{experiment[1]}'] = Table_MediansIterations(experiment,dimension_number,variant_names,tolerance)

In [12]:
variant_names = [VariantNames[0],VariantNames[-1]]

for population_size in ['12','25','37','50','62','75','87']:
    experiment[1] = population_size
    globals_results[f'{type_result}Results_{experiment[1]}'] = Table_MediansIterations(experiment,dimension_number,variant_names,tolerance)

In [ ]:
# Population Size :: 12
pd.DataFrame(MediansResults_12,index=variant_names).T

      Base RandomParameters
F1     706              715
F2     258              258
F3     168              169
F4    1030            10001
F5       0                0
F6   10001            10001
F7   10001            10001
F8      46               48
F9   10001            10001
F20    826              766
F21  10001            10001
F22    593              592
F23  10001            10001
F24  10001            10001
F25    654              636
F26    617              614
F27    629              626

In [19]:
# Population Size :: 25
pd.DataFrame(MediansResults_25,index=variant_names).T

      Base RandomParameters
F1    1340             1340
F2     494              500
F3     232              227
F4    1349             1515
F5       0                0
F6   10001            10001
F7    1517             1567
F8      54               57
F9   10001            10001
F20   1229             1217
F21  10001            10001
F22   1127             1106
F23  10001            10001
F24  10001            10001
F25   1212             1211
F26   1204             1208
F27   1242             1243

In [20]:
# Population Size :: 37
pd.DataFrame(MediansResults_37,index=variant_names).T

      Base RandomParameters
F1    1945             1942
F2     713              711
F3     268              260
F4    1930             2131
F5       0                0
F6   10001            10001
F7    2152             2256
F8      54               49
F9   10001            10001
F20   1782             1784
F21  10001            10001
F22   1651             1636
F23  10001            10001
F24  10001            10001
F25   1791             1786
F26   1745             1754
F27   1811             1812

In [21]:
# Population Size :: 50
pd.DataFrame(MediansResults_50,index=variant_names).T

      Base RandomParameters
F1    2607             2613
F2     932              928
F3     276              263
F4    2568             2818
F5       0                0
F6    9084            10001
F7    2889             3028
F8      45               44
F9    6197             6300
F20   2393             2395
F21  10001            10001
F22   2176             2189
F23  10001            10001
F24  10001            10001
F25   2415             2405
F26   2328             2319
F27   2413             2415

In [22]:
# Population Size :: 62
pd.DataFrame(MediansResults_62,index=variant_names).T

      Base RandomParameters
F1    3179             3196
F2    1123             1118
F3     262              272
F4    3082             3397
F5       0                0
F6    9409            10001
F7    3530             3610
F8      19               17
F9    7464             7621
F20   2941             2918
F21  10001            10001
F22   2684             2670
F23  10001            10001
F24  10001            10001
F25   2971             2964
F26   2830             2828
F27   2975             2946

In [23]:
# Population Size :: 75
pd.DataFrame(MediansResults_75,index=variant_names).T

      Base RandomParameters
F1    3810             3789
F2    1343             1320
F3     259              266
F4    3562             3883
F5       0                0
F6   10001            10001
F7    4106             4174
F8       8               17
F9    8965             8888
F20   3515             3531
F21  10001            10001
F22   3240             3231
F23  10001            10001
F24  10001            10001
F25   3571             3545
F26   3391             3405
F27   3556             3563

In [24]:
# Population Size :: 87
pd.DataFrame(MediansResults_87,index=variant_names).T

      Base RandomParameters
F1    4411             4372
F2    1526             1503
F3     278              292
F4    4080             4369
F5       0                0
F6   10001            10001
F7    4842             4763
F8       0                0
F9   10001            10001
F20   4079             4049
F21  10001            10001
F22   3737             3691
F23  10001            10001
F24  10001            10001
F25   4128             4125
F26   3870             3862
F27   4093             4111

In [26]:
# Population Size :: 100
pd.DataFrame(MediansResults_100,index=VariantNames).T

,Base,FixedRandomSample,ProportionalRandomSample,Agglomerative,RandomParameters
F1,5022,5218,5158,3968,4999
F2,1707,1698,1721,1705,1715
F3,265,269,267,306,271
F4,4534,4653,4477,3881,4809
F5,0,0,0,0,0
F6,10001,8289,10001,6949,10001
F7,5242,5661,5667,4471,5303
F8,0,0,0,0,0
F9,10001,10001,9291,10001,10001
F20,4705,4703,4690,3753,4670
F21,10001,10001,10001,10001,10001
F22,4262,4233,4252,3554,4254
F23,10001,10001,10001,10001,10001
F24,10001,10001,10001,10001,10001
F25,4710,4739,4734,3611,4704
F26,4439,4455,4467,3618,4455
F27,4664,4657,4677,3686,4644

## Using Iterations First

In [13]:
type_result = 'Iterations'
dimension_number = '2'
tolerance = 0.1

In [14]:
experiment = ['02','100']
variant_names = VariantNames

globals_results[f'{type_result}Results_{experiment[1]}'] = Table_IterationsMedians(experiment,dimension_number,variant_names,tolerance)

In [15]:
variant_names = [VariantNames[0],VariantNames[-1]]

for population_size in ['12','25','37','50','62','75','87']:
    experiment[1] = population_size
    globals_results[f'{type_result}Results_{experiment[1]}'] = Table_IterationsMedians(experiment,dimension_number,variant_names,tolerance)

In [28]:
# Population Size :: 12
pd.DataFrame(IterationsResults_12,index=variant_names).T

        Base RandomParameters
F1     706.0            714.5
F2     258.0            258.0
F3     168.0            169.0
F4    1027.0          10001.0
F5       0.0              0.0
F6   10001.0          10001.0
F7   10001.0          10001.0
F8      46.0             48.0
F9   10001.0          10001.0
F20    825.5            764.5
F21  10001.0          10001.0
F22    593.0            592.0
F23  10001.0          10001.0
F24  10001.0          10001.0
F25    653.0            636.0
F26    617.5            614.0
F27    629.5            626.0

In [29]:
# Population Size :: 25
pd.DataFrame(IterationsResults_25,index=variant_names).T

        Base RandomParameters
F1    1340.0           1340.0
F2     494.0            500.0
F3     232.0            226.5
F4    1349.5           1514.5
F5       0.0              0.0
F6   10001.0          10001.0
F7    1516.0           1566.0
F8      54.0             57.0
F9   10001.0          10001.0
F20   1229.0           1217.0
F21  10001.0          10001.0
F22   1127.0           1106.0
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   1211.5           1210.5
F26   1204.0           1208.5
F27   1242.5           1242.5

In [30]:
# Population Size :: 37
pd.DataFrame(IterationsResults_37,index=variant_names).T

        Base RandomParameters
F1    1945.0           1942.0
F2     712.5            711.0
F3     267.5            260.0
F4    1930.0           2131.0
F5       0.0              0.0
F6   10001.0          10001.0
F7    2151.5           2256.0
F8      54.5             49.0
F9   10001.0          10001.0
F20   1782.0           1783.5
F21  10001.0          10001.0
F22   1651.5           1636.0
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   1791.0           1785.5
F26   1745.0           1754.0
F27   1810.5           1812.5

In [31]:
# Population Size :: 50
pd.DataFrame(IterationsResults_50,index=variant_names).T

        Base RandomParameters
F1    2607.0           2612.5
F2     932.0            928.0
F3     276.0            263.0
F4    2569.0           2817.0
F5       0.0              0.0
F6    8926.0          10001.0
F7    2889.0           3028.5
F8      45.0             44.0
F9    6201.0           6297.5
F20   2392.0           2395.0
F21  10001.0          10001.0
F22   2176.0           2189.5
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   2416.0           2405.0
F26   2328.5           2319.0
F27   2413.0           2415.0

In [32]:
# Population Size :: 62
pd.DataFrame(IterationsResults_62,index=variant_names).T

        Base RandomParameters
F1    3179.0           3197.0
F2    1123.0           1118.0
F3     262.0            272.0
F4    3080.0           3397.5
F5       0.0              0.0
F6    9411.0          10001.0
F7    3529.0           3611.5
F8      18.5             17.0
F9    7462.5           7610.5
F20   2941.0           2917.5
F21  10001.0          10001.0
F22   2684.5           2671.0
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   2972.0           2963.0
F26   2831.0           2828.5
F27   2974.5           2946.5

In [33]:
# Population Size :: 75
pd.DataFrame(IterationsResults_75,index=variant_names).T

        Base RandomParameters
F1    3810.0           3789.0
F2    1343.0           1320.0
F3     259.0            266.0
F4    3562.5           3880.5
F5       0.0              0.0
F6   10001.0          10001.0
F7    4105.0           4182.5
F8       8.0             17.0
F9    8966.0           8887.5
F20   3515.0           3530.5
F21  10001.0          10001.0
F22   3239.5           3231.5
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   3571.5           3545.0
F26   3393.0           3404.5
F27   3554.5           3563.0

In [34]:
# Population Size :: 87
pd.DataFrame(IterationsResults_87,index=variant_names).T

        Base RandomParameters
F1    4409.5           4372.0
F2    1526.5           1503.0
F3     278.0            292.0
F4    4079.5           4372.0
F5       0.0              0.0
F6   10001.0          10001.0
F7    4840.0           4763.0
F8       0.0              0.0
F9   10001.0          10001.0
F20   4080.0           4049.0
F21  10001.0          10001.0
F22   3736.5           3691.5
F23  10001.0          10001.0
F24  10001.0          10001.0
F25   4128.0           4125.5
F26   3870.0           3863.0
F27   4094.0           4111.5

In [35]:
# Population Size :: 100
pd.DataFrame(IterationsResults_100,index=VariantNames).T

,Base,FixedRandomSample,ProportionalRandomSample,Agglomerative,RandomParameters
F1,5021.5,5003.0,5017.0,3967.5,4999.0
F2,1706.0,1698.0,1721.0,1705.0,1715.0
F3,266.0,269.0,267.0,306.0,271.0
F4,4533.5,4654.0,4479.5,3881.0,4810.0
F5,0.0,0.0,0.0,0.0,0.0
F6,10001.0,8288.5,10001.0,6948.0,10001.0
F7,5242.0,5336.5,5173.5,4472.0,5313.5
F8,0.0,0.0,0.0,0.0,0.0
F9,10001.0,10001.0,9287.0,10001.0,10001.0
F20,4705.0,4702.5,4690.5,3752.0,4670.5
F21,10001.0,10001.0,10001.0,10001.0,10001.0
F22,4262.0,4232.5,4252.5,3554.0,4254.0
F23,10001.0,10001.0,10001.0,10001.0,10001.0
F24,10001.0,10001.0,10001.0,10001.0,10001.0
F25,4710.0,4739.0,4734.5,3610.5,4703.5
F26,4439.0,4455.5,4465.5,3618.0,4454.5
F27,4663.5,4657.0,4677.5,3686.5,4643.5